*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
logs/*.log
*.pid
node_modules/
.cache
.DS_Store
/htmlcov/
.idea/
